body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #EFF0F6;
    color:#030307 ;
    padding: 1rem 2rem;
   /*  margin: 0 2rem; */
}
.logo-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
span{
    padding-top: 30px;
   
   /*  display: none; */
}
.logo{
    width: 70px;
    height: 70px;
}
.hd{
    font-size: 24px;
    font-weight: bold;
    color: #0D138D;
   
}
.main-menu{
    text-align: center;
    padding-top: 50px;
}
nav a {
  
    color:#030307 ;
    margin-right: 20px;
    text-decoration: none;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    z-index: -1; 
    object-fit: fill; 
}


.content-overlay {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-80%, -50%);
    text-align: left;
    color:#EFF0F6;
    z-index: 2;
    background: rgba(11, 14, 20, 0.018);
    padding: 2rem;
   /*  border-radius: 10px; */
    backdrop-filter: blur(30px);
    
}

.content-overlay h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
   
}

.content-overlay button {
    background-color: #1F29F9;
    border: 1px solid white;
    color:white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.content-overlay button:hover {
    background-color: #0A13C2;
}

.usp-sec{
    width: 100%;
    height: 70vh;
    position: relative;
    background-color: #EFF0F6;
    padding: 1rem 2rem;
    z-index: -10;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;

}
.usp{
    position: absolute;
    bottom: 20;
    left: 45%;
    width: 20vw;
   /*  border: 2px solid #1F29F9; */
    z-index: 200;
    background: rgba(11, 14, 20, 0.018);
    backdrop-filter:blur(30px);
    color:white;
    padding: 2rem;

}
.usp2{
    position: absolute;
    bottom: 20;
    left: 73%;
    width: 20vw;
   /*  border: 2px solid #1F29F9; */
    z-index: 200;
    background: rgba(11, 14, 20, 0.018);
    backdrop-filter:blur(30px);
    color:white;
    padding: 2rem;

}
.content{
    width: 50%;
    padding-left: 2rem;
}
.content > p{
    font-size: 18px;
}
.img{
   
    width: 40%;
}
.img img{
    border: 2px solid #14BAFB;
}